/** Global SCSS */
// TODO

$primary: #2F496E;
$primary-compliment: #F0810F;
$success: #2988BC;

/** External CSS */
@import "~bulma/bulma";

/** Internal SCSS files */
@import 'home.scss';

.has-text-primary-compliment {
  color: $primary-compliment !important;
}

html {
  background-color: #F1F2F2;
}
